extends /layouts/inner.pug
block title
  title= t('views.pages.statuses.title')

block main
  .container
    .row.justify-content-center
      .p-3
        h1= t('views.pages.statuses.header')
    .row.justify-content-center
        a(href= urlFor('newStatus') class="btn btn-primary")= t('views.pages.statuses.buttonCreate')
    .row.justify-content-center
      .col-5.shadow-sm.p-3.mb-5.bg-white.rounded
        .table-responsive-sm
          table.table
            thead
              tr
                th(scope="col")= t('views.pages.statuses.name')
                th(scope="col")
                th(scope="col")
            tbody
              each stat in statuses
                tr
                  td.col= stat.name
                  td.col-1
                    a(href= urlFor('editStatus', { id: stat.id }) class="btn btn-secondary")= t('buttons.edit')
                  td.col-1
                    a(href= urlFor('deleteStatus', { id: stat.id }) data-method="delete" class="btn btn-danger")= t('buttons.delete')