doctype html
html(lang="en")
  block head
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      block title
      script(src='/assets/main.js')
body(class="bg-dark text-light")
  .container
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .navbar-brand 
          h3 TaskManager
        button(class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.mr-auto
            block nav-links
          if isSignedIn()
            div
              .my-2.my-lg-0
                a.navbar-brand(href="/users/edit")= getUserName()
                a(href=urlFor('session') data-method='delete' rel="nofollow" class="btn btn-light ml-2") Logout
    block main
    footer(class="mt-auto fixed-bottom text-center")
      div(class="inner")
        p Dmitriy Dobrenkiy. 
          a(class="text-light" href="https://github.com/CyberHedgehog") My GitHub.