extends /layouts/main.pug

block title
  title Welcome!

block main
  main(class="mx-auto text-center")
      h1 Welcome!
      p This is my fourth project on hexlet.io. There should be some text here
      block text
      - const [msg] = flash('info');
      if msg
        .alert.alert-info.m-3= msg
      if isSignedIn()
        a(href="/tasks" class="btn btn-light mr-2") Go to tasks!
      else  
        a(href="/login" class="btn btn-light") Get started
