extends /layouts/main.pug

block title
  title Welcome!

block main
  main(class="mx-auto text-center")
      h1 Welcome!
      p This is my fourth project on hexlet.io. There should be some text here
      block text
      if isSignedIn()
        a(href="/tasks" class="btn btn-light") Go to tasks!
        a(href=urlFor('session') data-method='delete' rel='nofollow' class="btn btn-danger") Logout
      else  
        a(href="/login" class="btn btn-light") Get started
