extends /layouts/main.pug

block title
  title= t('views.pages.startPage.greeting')

block main
  main(class="mx-auto text-center col-md-6")
      h1= t('views.pages.startPage.greeting')
      p= t('views.pages.startPage.text')
      if reply.request.isSigned
        a(href= urlFor('tasks') class="btn btn-light")= t('views.pages.startPage.loggedButton')
      else
        a(href= urlFor('login') class="btn btn-light mr-2")= t('views.pages.startPage.notLoggedButton')