extends /layouts/inner.pug
block title
  title= t('views.pages.labels.add.title')

block main
  .container
    .row.justify-content-center
      .p-3
          h1= t('views.pages.labels.add.title')
    .row.justify-content-center
      .shadow-sm.p-3.mb-5.bg-white.rounded
        form(action= urlFor('addLabel') method="POST")
          .form-group
            label(for="name")= t('views.pages.labels.name')
            input(type="text" class="form-control" name="label[name]" id="name" value= _.get(label, 'name', ''))
          input(type="submit" class="btn btn-primary mr-2" value= t('buttons.save'))
          a(href= urlFor('labels') class="btn btn-secondary mr-2" value="Cancel")= t('buttons.cancel')