- const links = ['Users', 'Tasks', 'Statuses', 'Tags']
mixin innerNav(activeLink)
  each link in links
    - const activeClass = activeLink === link ? 'active': ''
    li.nav-item
      a(class=`nav-link ${activeClass}` href=`/${link.toLowerCase()}`)= link