include /mixins/messages.pug
include /mixins/innerNav.pug

doctype html
html
  block head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block title
    script(src='/assets/main.js')
    link(rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon")
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href= urlFor('root'))= t('views.layouts.main.title')
        
        button(class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.mr-auto
            +innerNav()
          div
            .my-2.my-lg-0
              a.navbar-brand(href= urlFor('editUser', { id: reply.request.currentUser.id }))= reply.request.currentUser.fullName() 
              a(href= urlFor('deleteSession') data-method='delete' rel="nofollow" class="btn btn-light ml-2")= t('views.layouts.inner.logout')
    - flash = reply.flash() || []
    +alert(flash)
    block main