include /mixins/messages.pug
include /mixins/button.pug

doctype html
html(lang="en")
  block head
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      block title
      script(src='/assets/main.js')
      link(rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon")
body(class="bg-dark text-light")
  .container
    header(class="mt-3 mb-5")
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href= urlFor('root'))
          h3= t('views.layouts.main.header')
        button(class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.mr-auto
            block nav-links
          if reply.request.isSigned
            div
              .my-2.my-lg-0
                a.navbar-brand(href= urlFor('editUser', { id: reply.request.currentUser.id }))= reply.request.currentUser.fullName()
                a(href= urlFor('deleteSession') data-method='delete' rel="nofollow" class="btn btn-light ml-2")= t('views.layouts.main.logOut')
    - flash = reply.flash() || []
    +alert(flash)
    block main
    footer(class="mt-auto fixed-bottom text-center")
      div(class="inner")
        p= t('views.layouts.main.footer.text')
          a(class="text-light p-2" href="https://github.com/CyberHedgehog")= t('views.layouts.main.footer.ghLink')